@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
    border: 1px solid #888;
    border-radius: 16px;
}

